<!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              HandTime
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/testimonial">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
            <div class="user_optio_box mr-5">
              <!-- <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a> -->
              {% if user == none %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" style="background-color: rgb(130, 42, 165);" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/signinpage">Sign in</a>
                  <a class="dropdown-item" href="/signuppage">Sign up</a>
                </div>
              </div>
              {% else %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="background-color: rgb(130, 42, 165);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/logout">logout</a>
                </div>
              </div>

              {% if cart_item %}
              <a href="/cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="count">{{count}}</span>
              </a>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
